<AuDataTable @isLoading={{@isLoading}} @noDataMessage="No data" @class="container-flex--contain" as |table|>
  <table.content as |c|>
    <c.header>
      <th class="u-c-data-table__header-title">Code</th>
      <th class="u-c-data-table__header-title">Afbeelding</th>
      <th class="u-c-data-table__header-title">Template</th>
      <th class="u-c-data-table__header-title">Category</th>
    </c.header>
    {{#if c.body}}
      {{#if @isLoading}}
        <tr><td colspan="100%" class="is-loading-data">Loading...</td></tr>
      {{else}}
        {{#each @content as |row|}}
            <tr role="button" {{on "click" (fn this.selectRow row.uri)}}>
              <td>
                {{row.label}}
              </td>
              <td>
                <div style='display: flex; align-items: center'>
                  {{#each row.images as |image|}}
                    <img src={{image}} alt="verkeersteken {{row.label}}" style="height: 40px; margin: 10px" />
                  {{/each}}
                </div>
              </td>
              <td>
                {{limit-text row.templateValue}}
              </td>
              <td>
                {{#each row.clasiffications as |clasiffication|}}
                  {{clasiffication}}
                {{/each}}
              </td>
            </tr>
          {{#if (eq this.selected row.uri)}}
              <tr display=''>
                <td colspan="4">
                  <p style="margin: 20px">{{row.templateValue}}</p>
                  <AuButtonGroup>
                    <AuButton {{on 'click' (fn @insert row)}}>
                      Voeg in
                    </AuButton>
                    <AuButton @skin="secondary">
                      Annuleer
                    </AuButton>
                  </AuButtonGroup>
                </td>
              </tr>
          {{/if}}
        {{else}}
            <tr>
              <td colspan="100%" class="no-data-message"><p>Er werden geen verkeerstekens gevonden.</p></td>
            </tr>
        {{/each}}
      {{/if}}
    {{/if}}
    <RoadsignsPagination
      @hasPreviousPage={{@hasPreviousPage}}
      @goToPreviousPage={{@goToPreviousPage}}
      @hasNextPage={{@hasNextPage}}
      @goToNextPage={{@goToNextPage}}
      @pageStart={{@pageStart}}
      @pageEnd={{@pageEnd}}
      @count={{@count}}
    />
  </table.content>
</AuDataTable>
