<AuDataTable @isLoading={{@isLoading}} @noDataMessage="No data" @class="container-flex--contain" as |table|>
  <table.content as |c dataTable|>
    <c.header>
      <AuDataTableThSortable @field="code" @label="Code" />
      <AuDataTableThSortable @field="image" @label="Afbeelding" />
      <AuDataTableThSortable @field="description" @label="Betekenis" />
      <AuDataTableThSortable @field="category" @label="Category" />
    </c.header>
    {{#if c.body}}
      {{#if @isLoading}}
        <tr><td colspan="100%" class="is-loading-data">Loading...</td></tr>
      {{else}}
        {{#if @content}}
          {{#each @content as |row|}}
            <tr role="button" {{on "click" (fn this.selectRow row.uri)}}>
              <td>
                {{row.label}}
              </td>
              <td>
                <div style='display: flex; align-items: center'>
                  {{#each row.images as |image|}}
                    <img src={{image}} style="height: 40px; margin: 10px"/>
                  {{/each}}
                </div>
              </td>
              <td>
                {{limit-text row.templateValue}}
              </td>
              <td>
                {{#each row.clasiffications as |clasiffication|}}
                  {{clasiffication}} 
                {{/each}}
              </td>
            </tr>
            {{#if (eq this.selected row.uri)}}
              <tr display=''>
                <td colspan="4">
                  <p style="margin: 20px">{{row.templateValue}}</p>
                  <AuButtonGroup>
                    <AuButton {{on 'click' (fn @insert row.templateValue)}}>
                      Voeg in
                    </AuButton>
                    <AuButton @skin="secondary">
                      Annuleer
                    </AuButton>
                  </AuButtonGroup>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        {{else}}
          <tr><td colspan="100%" class="no-data-message"><p>{{noDataMessage}}</p></td></tr>
        {{/if}}
      {{/if}}
    {{/if}}
    <div class="au-c-pagination au-u-margin-top">
      {{#if @hasPreviousPage}}
        <div class="au-c-pagination__list-item">
          <AuButton @skin="link" {{on 'click' @goToPreviousPage}} @iconAlignment="left" @icon="nav-left">Vorige pagina</AuButton>
        </div>
      {{/if}}
      <p>
        <span class="au-u-hidden-visually">Publicaties</span>
        <strong>
          {{@pageStart}} - {{@pageEnd}}
        </strong>
        van
        {{@count}}
      </p>
      {{#if @hasNextPage}}
        <div class="au-c-pagination__list-item">
          <AuButton @skin="link" {{on 'click' @goToNextPage}}  @icon="nav-right" @alignment="right">Volgende pagina</AuButton>
        </div>
      {{/if}}
    </div>
  </table.content>
</AuDataTable>
