<AuToolbar @border="top" @size="large" @nowrap={{true}}>
  <div class="au-c-pagination">
    {{#if @hasPreviousPage}}
      <div class="au-c-pagination__list-item">
        <AuButton @skin="link" {{on 'click' @goToPreviousPage}} @iconAlignment="left" @icon="nav-left">Vorige pagina</AuButton>
      </div>
    {{/if}}
    <p>
      <span class="au-u-hidden-visually">Publicaties</span>
      <strong>
        {{this.pageStart}} - {{this.pageEnd}}
      </strong>
      van
      {{this.count}}
    </p>
    {{#if @hasNextPage}}
      <div class="au-c-pagination__list-item">
        <AuButton @skin="link" {{on 'click' @goToNextPage}}  @icon="nav-right" @iconAlignment="right">Volgende pagina</AuButton>
      </div>
    {{/if}}
  </div>
</AuToolbar>
