<AuModal 
@modalTitle="Modal title" 
@modalOpen={{@modalOpen}} 
@closeModal={{@closeModal}} as |Modal| >
  <Modal.Body>
    <div style='display: flex; width: 100%; justify-content: space-between; margin-bottom: 10px'>
      <div>
        <AuLabel>
          Filter op type
        </AuLabel>
        <PowerSelect
          @renderInPlace={{true}}
          @options={{this.typeOptions}}
          @verticalPosition="below"
          @searchEnabled={{true}}
          @selected={{this.typeSelected}}
          @allowClear={{true}}
          @onChange={{this.select}}
          as |option|>
          {{option.currentVersion.title}}
        </PowerSelect>
      </div>
      <div>
        <AuLabel for="input-block">Filter op code</AuLabel>
        <AuInput id="input-block" @width="block" @icon="search"/>
      </div>
      <div>
        <AuLabel for="input-block">Filter op betekenis</AuLabel>
        <AuInput id="input-block" @width="block" @icon="search"/>
      </div>
      <div>
        <AuLabel>
          Filter op category
        </AuLabel>
        <PowerSelect
          @renderInPlace={{true}}
          @options={{this.categoryOptions}}
          @verticalPosition="below"
          @searchEnabled={{true}}
          @selected={{this.categorySelected}}
          @allowClear={{true}}
          @onChange={{this.select}}
          as |option|>
          {{option.currentVersion.title}}
        </PowerSelect>
      </div>
    </div>
    <RoadsignsTable @content={{this.tableData}} @isLoading={{his.fetchData.isRunning}} />
  </Modal.Body>
</AuModal>