<div class="au-c-pagination au-u-margin-top">
  {{#if @hasPreviousPage}}
    <div class="au-c-pagination__list-item">
      <AuButton @skin="link" {{on 'click' @goToPreviousPage}} @iconAlignment="left" @icon="nav-left">Vorige pagina</AuButton>
    </div>
  {{/if}}
  <p>
    <span class="au-u-hidden-visually">Publicaties</span>
    <strong>
      {{@pageStart}} - {{@pageEnd}}
    </strong>
    van
    {{@count}}
  </p>
  {{#if @hasNextPage}}
    <div class="au-c-pagination__list-item">
      <AuButton @skin="link" {{on 'click' @goToNextPage}}  @icon="nav-right" @alignment="right">Volgende pagina</AuButton>
    </div>
  {{/if}}
</div>