<AuModal
  {{did-insert (perform this.fetchData)}}
  class="au-c-modal--flush"
  @size="large"
  @modalTitle="Mobiliteitsmaatregel toevoegen"
  @modalOpen={{@modalOpen}}
  @closeModal={{this.closeModal}} as |Modal| >
  <Modal.Body>
    <div class="au-c-body-container">
      <div class="au-o-box au-u-background-gray-100">
        <div class="au-o-grid au-o-grid--tiny au-o-grid--bottom">
          <div class="au-o-grid__item au-u-1-5">
            <AuLabel>
              Filter op type
            </AuLabel>
            <PowerSelect
              @renderInPlace={{true}}
              @options={{this.typeOptions}}
              @verticalPosition="below"
              @searchEnabled={{true}}
              @selected={{this.typeSelected}}
              @allowClear={{true}}
              @onChange={{this.selectType}}
              as |option|>
              {{option.label}}
            </PowerSelect>
          </div>
          <div class="au-o-grid__item au-u-1-5">
            <AuLabel for="input-block">Filter op code</AuLabel>
            <AuInput id="input-block" @width="block" @icon="search" {{on 'input' (perform this.changeCode)}}/>
          </div>
          <div class="au-o-grid__item au-u-1-5">
            <AuLabel>
              Filter op categorie
            </AuLabel>
            <PowerSelect
              @renderInPlace={{true}}
              @options={{this.categoryOptions}}
              @verticalPosition="below"
              @searchEnabled={{true}}
              @selected={{this.categorySelected}}
              @allowClear={{true}}
              @onChange={{this.selectCategory}}
              as |option|>
              {{option.label}}
            </PowerSelect>
          </div>
          <div class="au-o-grid__item au-u-1-5">
            <AuLabel>
              Filter op zonale geldigheid
            </AuLabel>
            <PowerSelect
              @renderInPlace={{true}}
              @options={{this.zonalityOptions}}
              @verticalPosition="below"
              @searchEnabled={{false}}
              @selected={{this.zonalitySelected}}
              @allowClear={{true}}
              @onChange={{this.selectZonality}}
              as |option|>
              {{option.label}}
            </PowerSelect>
          </div>
          <div class="au-o-grid__item au-u-1-5">
            <AuButton @icon="search" @iconAlignment="left" {{on 'click' this.search}} @width="block">
              Zoeken
            </AuButton>
          </div>
        </div>
      </div>
      <div class="au-c-body-container">
        <RoadsignsTable
          @content={{this.tableData}}
          @isLoading={{or this.fetchData.isRunning this.refetchSigns.isRunning}}
          @insert={{this.insertHtml}}
          @count={{this.count}}
          @goToPage={{this.goToPage}}
          @pageSize={{this.pageSize}}
        />
      </div>
    </div>
  </Modal.Body>
</AuModal>
